<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="isl.busroad.baeminsu.busroaduser">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="isl.busroad.baeminsu.busroaduser.MainContext"
        android:allowBackup="true"
        android:icon="@mipmap/app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDgB93O_9vT9NlH3OfEhqYzZbciA9bNywo" />


        <activity android:name="isl.busroad.baeminsu.busroaduser.MainActivity" />
        <activity android:name="isl.busroad.baeminsu.busroaduser.FindDialogActivity" />
        <activity android:name="isl.busroad.baeminsu.busroaduser.LiningDetailListActivity" />
        <activity android:name="isl.busroad.baeminsu.busroaduser.NoticeDetailActivity" />
        <activity android:name="isl.busroad.baeminsu.busroaduser.LiningDetailMapActivity" />
        <activity android:name="isl.busroad.baeminsu.busroaduser.SelectAffActivity" />
        <activity android:name="isl.busroad.baeminsu.busroaduser.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>